*{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:2px;
    border-color: black;
    transition:all .2s linear;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:#4b3619;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color:wheat;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:white;
}

.information{
    background: #4b3619;
    padding:3.2rem 0;
}

.information .text-light{
    text-align: left;
    widht:70%;
    margin:0.9rem auto;
    font-size: 20px;
}

section{
    min-height: 100vh;
    padding:1rem 5%;
    padding-top: 5.5rem;
}

.heading{
    text-align: center;
    font-size: 4rem;
    padding:0 .5rem;
    color:#333;
}

.heading span{
    color:black;
}

.popular{
    background-color: #7e481c;
}

.popular .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popular .box-container .box{
    background:#DEB887;
    width:35rem;
    padding:2rem;
    margin:2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    text-align: center;
}

.popular .box-container .box img{
    height:20rem;
    width:100%;
    object-fit: cover;
}

.popular .box-container .box h3{
    color:#333;
    font-size: 3rem;
    font-weight: normal;
}

.popular .box-container .box .stars i{
    color:darkgoldenrod;
    font-size: 2rem;
    padding:1rem .1rem;
}

.popular .box-container .box .price{
    color:#666;
    font-size: 2.5rem;
}

.popular .box-container .box:hover{
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
}

.footer{
    background:#282727;
    padding:1rem 7%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:saddlebrown;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:saddlebrown;
}
.container{
    widht:88vw;
    margin:0 auto;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}
